<div class="contianer">
<div class="jumbotron">
<form name="taskForm" method="post">
  <div class="form-group">
    <input id="taskTitle" type="text" placeholder="title" class="form-control form-horizontal" ng-model="Task.title">{{Task.titlewi}}
    <input type="text" placeholder="type" ng-model="Task.type" class="form-control">
    <input type="datetime" ng-model="Task.dateStart" placeholder="dateStart" class="datetime form-control">
    <input type="datetime" ng-model="Task.dateEnd" placeholder="dateEnd" class="form-control">
    <input type="text" ng-model="Task.dateActual" placeholder="dateActual" class="form-control">
    <input type="text" ng-model="Task.length" placeholder="duration" class="form-control">
    <button name="saveBtn" ng-click="save()">Save</button>
  </div>
</form>	
</div>
</div>
